.active {
  color: #ff5e14;
  position: relative;
  transition: all 0.3s ease;
}

.active::before, .inactive:hover::before {
  content: '';
  position: absolute;
  top: -95%;
  left: 20%;
  width: 40%;
  height: 5px;
  background-color: #ff5e14;
  transition: all 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease;
  opacity: 0.8;
}


