@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  color: #242424;
  font-size: 16px;
  font-family: 'montserrat', sans-serif !important;
}

p{
  line-height: 26px;
}

section {
  padding: 0 300px;
}

@media (max-width: 1300px) {
  section {
    padding: 0 200px;
  }
}

@media (max-width: 1100px) {
  section {
    padding: 0 100px;
  }
}

@media (max-width: 950px) {
  section {
    padding: 0 75px;
  }
}

@media (max-width: 800px) {
  section {
    padding: 0 50px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 0 20px;
  }
}